<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assetts/style.css"/>
    <title>My Project Detail</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="/"> <img src='public/assetts/DWlogo.png'></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active ms-5" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active ms-5 txt-color" aria-current="page" href="/addMyProject">Add Project</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="btn bg-contactme text-white me-auto" href="/contact">Contact Me</a>
    </nav>
    <h2 class="mt-5 mb-5 d-flex justify-content-center fw-bold"> Dumbways Web App</h2>
    <div class="content-detail d-flex justify-content-center" style="width:100%">
    <div class="card mb-3 bg-card" style="width: 190vh; border: none;">
      <div class="row g-0">
        <div class="col-md-4" style="width:60%">
          <img src="public/assetts/JasonMomoa.jpg" style="height:400px; width: 100%;" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" style="width:40%">
          <div class="card-body pt-2 ps-5">
            <h5 class="card-title">Duration</h5>
            <div class="card-detail mt-2 mb-3">
            <img src='public/assetts/icon/calculator.png' style="width: 20px; height: 20px;" alt=""/><text class="card-text ms-3">12 Jul 2021 22:30 WIB </text>
            </div>
            <img src='public/assetts/icon/time.png' style="width: 20px; height: 20px;" alt=""/><text class="card-text ms-3">1 Month</text>
            <h5 class="card-title mt-5">Technologies</h5>
            <div class="card-detail mt-2 mb-3">
            <img src='public/assetts/icon/node-js.png' style="width: 20px; height: 20px;" alt=""> <text class="card-text ms-3">Node JS</text>
            <img src='public/assetts/icon/typescript.png' style="width: 20px; height: 20px; margin-left: 50px;" alt=""> <text class="card-text ms-3">TypeScript</text>
            </div>
            <img src='public/assetts/icon/react-js.png' style="width: 20px; height: 20px;" alt=""> <text class="card-text ms-3">React JS</text>
            <img src='public/assetts/icon/next-js.png' style="width: 20px; height: 20px; margin-left: 50px;" alt=""> <text class="card-text ms-3">Next JS</text>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="lh-sm ms-5 me-5 mt-4 fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, blanditiis? Ea, pariatur delectus laborum id architecto veniam, iusto fugiat voluptate unde saepe cupiditate culpa nam aliquid, fuga eligendi in sed.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam fuga, ad cupiditate quia alias molestiae, voluptatibus voluptatum harum iste molestias maiores dolor quam nemo voluptate veniam est sunt facere eum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorem in nihil nesciunt quidem veritatis, repellat adipisci, fuga nostrum, consequuntur delectus repellendus. Delectus ratione voluptate magni officia, dolorum debitis harum.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iure nostrum sunt tenetur maxime, nam architecto commodi animi dolore ducimus eligendi. Deserunt aliquam voluptates dolores, cumque magnam laudantium ea beatae!</label>
  </p>

    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>